# Credit Risk Classification

Credit risk poses a classification problem that’s inherently imbalanced. This is because healthy loans easily outnumber risky loans. In this Challenge, you’ll use various techniques to train and evaluate models with imbalanced classes. You’ll use a dataset of historical lending activity from a peer-to-peer lending services company to build a model that can identify the creditworthiness of borrowers.

## Instructions:

This challenge consists of the following subsections:

* Split the Data into Training and Testing Sets

* Create a Logistic Regression Model with the Original Data

* Predict a Logistic Regression Model with Resampled Training Data 

### Split the Data into Training and Testing Sets

Open the starter code notebook and then use it to complete the following steps.

1. Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

2. Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

    > **Note** A value of `0` in the “loan_status” column means that the loan is healthy. A value of `1` means that the loan has a high risk of defaulting.  

3. Check the balance of the labels variable (`y`) by using the `value_counts` function.

4. Split the data into training and testing datasets by using `train_test_split`.

### Create a Logistic Regression Model with the Original Data

Employ your knowledge of logistic regression to complete the following steps:

1. Fit a logistic regression model by using the training data (`X_train` and `y_train`).

2. Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

3. Evaluate the model’s performance by doing the following:

    * Calculate the accuracy score of the model.

    * Generate a confusion matrix.

    * Print the classification report.

4. Answer the following question: How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

### Predict a Logistic Regression Model with Resampled Training Data

Did you notice the small number of high-risk loan labels? Perhaps, a model that uses resampled data will perform better. You’ll thus resample the training data and then reevaluate the model. Specifically, you’ll use `RandomOverSampler`.

To do so, complete the following steps:

1. Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points. 

2. Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

3. Evaluate the model’s performance by doing the following:

    * Calculate the accuracy score of the model.

    * Generate a confusion matrix.

    * Print the classification report.
    
4. Answer the following question: How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

### Write a Credit Risk Analysis Report

For this section, you’ll write a brief report that includes a summary and an analysis of the performance of both machine learning models that you used in this challenge. You should write this report as the `README.md` file included in your GitHub repository.

Structure your report by using the report template that `Starter_Code.zip` includes, and make sure that it contains the following:

1. An overview of the analysis: Explain the purpose of this analysis.


2. The results: Using bulleted lists, describe the balanced accuracy scores and the precision and recall scores of both machine learning models.

3. A summary: Summarize the results from the machine learning models. Compare the two versions of the dataset predictions. Include your recommendation for the model to use, if any, on the original vs. the resampled data. If you don’t recommend either model, justify your reasoning.

In [119]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

import warnings
warnings.filterwarnings('ignore')

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [120]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
lending_data = pd.read_csv("./Resources/lending_data.csv")
# Review the DataFrame
lending_data.head()
# lending_data.tail()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

generally, 3 different ways to select data from a dataframe
1. iloc, <- i means youre locating by the index
2. loc <- means you're locating be the name
3. column selection

format iloc:
df.iloc[row, column] inside the square brakcet is how you select the row and column seperated by a comma
[row, cols] also use python slice notation
[row] if you only pass one value, it only does the row

In [121]:
# selecting first row with iloc
lending_data.iloc[0]

loan_size           10700.000000
interest_rate           7.672000
borrower_income     52800.000000
debt_to_income          0.431818
num_of_accounts         5.000000
derogatory_marks        1.000000
total_debt          22800.000000
loan_status             0.000000
Name: 0, dtype: float64

In [122]:
lending_data.loc[0]

loan_size           10700.000000
interest_rate           7.672000
borrower_income     52800.000000
debt_to_income          0.431818
num_of_accounts         5.000000
derogatory_marks        1.000000
total_debt          22800.000000
loan_status             0.000000
Name: 0, dtype: float64

In [123]:
# select debt_to_income column, first row
lending_data.iloc[0,3]

0.431818181818182

In [124]:
lending_data.loc[0,"debt_to_income"]

0.431818181818182

In [125]:
# slicing all rows for loan_size and interest_rate
# slice notation, gets elements by index
#slicable things are df, string, list
#format: string[start:stop:step] #default start = 0. stop = -1 (end of string or list), step = 1
# string[0], <- select element by that index
# string[:5] <- slice everything from 0 to 5
# stop number, UPTO BUT NOT INCLUDING
string1 = "abcdefghjikl"
string1[3]
string1[:5]
string1[::2] #every other element for step = 2, 0, 2, 4, 6 8

'acegjk'

In [126]:
string1[-1] #shows you the last eleement

'l'

In [127]:
# how to do reverse a string?
string1[::-1]

'lkijhgfedcba'

In [128]:
string1[::-2]

'lihfdb'

In [129]:
lending_data.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [130]:
#select all rows in the first column
lending_data.iloc[:,0]

0        10700.0
1         8400.0
2         9000.0
3        10700.0
4        10800.0
          ...
77531    19100.0
77532    17700.0
77533    17600.0
77534    16300.0
77535    15600.0
Name: loan_size, Length: 77536, dtype: float64

In [131]:
lending_data.iloc[:,[0,1]] #col = [0,1,2]

       loan_size  interest_rate
0        10700.0          7.672
1         8400.0          6.692
2         9000.0          6.963
3        10700.0          7.664
4        10800.0          7.698
...          ...            ...
77531    19100.0         11.261
77532    17700.0         10.662
77533    17600.0         10.595
77534    16300.0         10.068
77535    15600.0          9.742

[77536 rows x 2 columns]

In [132]:
lending_data.iloc[:,0:2]

       loan_size  interest_rate
0        10700.0          7.672
1         8400.0          6.692
2         9000.0          6.963
3        10700.0          7.664
4        10800.0          7.698
...          ...            ...
77531    19100.0         11.261
77532    17700.0         10.662
77533    17600.0         10.595
77534    16300.0         10.068
77535    15600.0          9.742

[77536 rows x 2 columns]

In [133]:
lending_data.iloc[10:20,0:5]

    loan_size  interest_rate  borrower_income  debt_to_income  num_of_accounts
10     9300.0          7.085            47300        0.365751                3
11     9200.0          7.015            46600        0.356223                3
12     9200.0          7.043            46900        0.360341                3
13     9400.0          7.101            47400        0.367089                3
14     8400.0          6.703            43700        0.313501                3
15     9400.0          7.136            47700        0.371069                3
16     8900.0          6.897            45500        0.340659                3
17     8300.0          6.648            43200        0.305556                2
18     8000.0          6.539            42100        0.287411                2
19    10200.0          7.460            50800        0.409449                4

In [134]:
lending_data.loc[:,["loan_size","num_of_accounts"]]

       loan_size  num_of_accounts
0        10700.0                5
1         8400.0                3
2         9000.0                3
3        10700.0                5
4        10800.0                5
...          ...              ...
77531    19100.0               12
77532    17700.0               11
77533    17600.0               11
77534    16300.0               10
77535    15600.0                9

[77536 rows x 2 columns]

In [135]:
# use iloc when  for time series yesterdays stock data is at the bottom of the dataframe,
# if you used LOC, then you have to figure out the date of the index before you can select the data
#  easier to select last element with iloc[-1]

# use loc when you just know the name or easier to select by the name

In [136]:
list1 = [10,20,30]
list1[2]

30

In [137]:
# isntead of using iloc or loc list index way, column select
lending_data["loan_status"]

0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64

In [138]:
lending_data["loan_status"][0] # this way selects the column first, anbd then the row number (name)

0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [139]:
# Separate the data into labels and features

# Separate the y variable, the labels
y=lending_data.loc[:,["loan_size"]]

# Separate the X variable, the features
x = lending_data.drop(columns=["loan_size"])

In [140]:
# Review the y variable Series
y

       loan_size
0        10700.0
1         8400.0
2         9000.0
3        10700.0
4        10800.0
...          ...
77531    19100.0
77532    17700.0
77533    17600.0
77534    16300.0
77535    15600.0

[77536 rows x 1 columns]

In [141]:
# Review the X variable DataFrame
x

,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,7.672,52800,0.431818,5,1,22800,0
1,6.692,43600,0.311927,3,0,13600,0
2,6.963,46100,0.349241,3,0,16100,0
3,7.664,52700,0.430740,5,1,22700,0
4,7.698,53000,0.433962,5,1,23000,0
...,...,...,...,...,...,...,...
77531,11.261,86600,0.653580,12,2,56600,1
77532,10.662,80900,0.629172,11,2,50900,1
77533,10.595,80300,0.626401,11,2,50300,1
77534,10.068,75300,0.601594,10,2,45300,1
77535,9.742,72300,0.585062,9,2,42300,1

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [142]:
# Check the balance of our target values
y.value_counts()

loan_size
9600.0       2596
9800.0       2522
9400.0       2511
9200.0       2491
9700.0       2475
             ...
22800.0         1
22900.0         1
23400.0         1
23500.0         1
23800.0         1
Length: 182, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [143]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
x = lending_data.drop(columns=["loan_size"])

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [144]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_regression_model = LogisticRegression()

# Fit the model using training data
logistic_regression_model.fit(X_train , y_train )

NameError: name 'X_train' is not defined

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [ ]:
# Make a prediction using the testing data
prediction = logistic_regression_model.predict(X_test)

results_df = pd.DataFrame({"Prediction": prediction, "Actual": training_targets})
results_df

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [ ]:
# Print the balanced_accuracy score of the model
results_df.accuracy_score(y_test, prediction)

In [ ]:
# Generate a confusion matrix for the model
confusion_matrix(test, prediction)

In [ ]:
# Print the classification report for the model
DataResult_classification_report = classification_report(x_test, y_test) 
print(DataResult_classification_report)

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** WRITE YOUR ANSWER HERE!

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [ ]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
logistic_regression_model = LogisticRegression(randome_state=1)

# Fit the original training data to the random_oversampler model
x_shapped,y_shapped = logistic_regression_model_shapped.fit(x_train, y_train)

In [ ]:
# Count the distinct values of the resampled labels data
print(results_df.nunique())

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [ ]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_regression_model2 = LogisticRegression(logistic_regression_model)


# Fit the model using the resampled training data
logistic_regression_model2_shaped = logistic_regression_model2.fit(X_shapped, y_shapped)

# Make a prediction using the testing data
y_shapped = logistic_regression_model2.fit(x_shapped, y_shapped)

refine_results_df = pd.DataFrame({"Prediction": prediction, "Actual": training_targets})
refine_results_df

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [ ]:
# Print the balanced_accuracy score of the model 
ballanced_accuracy_score(y_test, y_shapped)

In [ ]:
# Generate a confusion matrix for the model
confusion_matrix(y_test,y_shapped)

In [ ]:
# Print the classification report for the model
print(DataResult_classification_report(y_test, y_shapped))

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** YOUR ANSWER HERE!